<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login</h3>
          <p class="subtitle has-text-grey">Please login to proceed.</p>
          <div class="box">
            <figure class="avatar">
              <img class="main-image" :src="require('../../assets/uploads/lion.png')">
            </figure>
            <form>
              <div class="field">
                <div class="control">
                  <input class="input is-large" v-model="email" type="email" placeholder="Your Email" autofocus="">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" v-model="password" type="password" placeholder="Your Password">
                </div>
              </div>
              <a v-on:click="login" class="button is-block is-info is-large">Login</a>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="/registration">Registration</a> &nbsp;·&nbsp;
            <a href="#">Forgot Password</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2'
import Firebase from 'firebase'

Vue.use(VueSweetalert2)

export default {
  name: 'Login-section',
  data: function () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login: function (replace) {
      Firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        .then(
          function (user) {
            Vue.swal('Well done!', 'Welcome to dashboard', 'success')
            window.location.replace('/home')
          },
          function (err) {
            Vue.swal('Oops. ' + err.message, 'Please try again.', 'warning')
          }
        )
    }
  }
}
</script>

<style scoped>

</style>
