<template>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Registration</h3>
          <p class="subtitle has-text-grey">Please fill all fields.</p>
          <div class="box">
            <form method="post">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" v-model="email" placeholder="Email" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" v-model="firstName" placeholder="First Name" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" v-model="lastName" placeholder="Last Name" autofocus="">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="password" v-model="password" placeholder="Password">
                </div>
              </div>
              <button v-on:click.prevent="Registration" class="button is-block is-info is-large">Registration</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="/">Login</a> &nbsp;·&nbsp;
            <a href="../">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2'
import Firebase from 'firebase'

Vue.use(VueSweetalert2)

export default {
  name: 'Registration-section',
  data: function () {
    return {
      errors: [],
      email: '',
      firstName: '',
      lastName: '',
      password: ''
    }
  },
  methods: {
    Registration: function (e) {
      Firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        .then(
          function (user) {
            Vue.swal('Congratulations', 'Your account has been created.', 'success')
          },
          function (err) {
            Vue.swal('Oops. ' + err.message, 'Please try again.', 'error')
          }
        )
    }
  }
}
</script>

<style scoped>

</style>
