<template>
    <div class="columns">
      <div class="column dash-items">
        <p class="bd-notification is-green">First column</p>
        <div class="dash-content">

        </div>
      </div>
      <div class="column dash-items">
        <p class="bd-notification is-pink">Second column</p>
        <div class="dash-content">

        </div>
      </div>
      <div class="column dash-items">
        <p class="bd-notification is-orange">Third column</p>
        <div class="dash-content">

        </div>
      </div>
      <div class="column dash-items">
        <p class="bd-notification is-moon">Fourth column</p>
        <div class="dash-content">

        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Main-dashboard'
}
</script>

<style scoped>

</style>
