<template>
  <div class="right-side">
    <dashboard-navbar></dashboard-navbar>
    <div class="custom-container">
      <main-dashboard></main-dashboard>
    </div>
  </div>
</template>

<script>
import DashboardNavbar from '../DashboardComponents/DashboardNavbar'
import MainDashboard from '../DashboardComponents/MainDashboard'

export default {
  components: {
    MainDashboard,
    DashboardNavbar
  },
  name: 'Dashboard'
}
</script>

<style scoped>

</style>
