<template>
  <aside class="menu">
    <div class="navbar-title">
      <div class="navbar-background"></div>
      <div class="profile-avatar">
        <img src="@/assets/uploads/avatar/marc.jpg" class="img-avatar">
      </div>
    </div>
    <VuePerfectScrollbar  v-once :settings="settings" @ps-scroll-y="scrollHanle" class="navbar-tools">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a class="is-active">Dashboard</a></li>
        <li><a>Customers</a></li>
      </ul>
      <p class="menu-label">
        Administration
      </p>
      <ul class="menu-list">
        <li><a>Team Settings</a></li>
        <li>
          <a>Manage Your Team</a>
          <ul class="submenu-list">
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
          </ul>
        </li>
        <li><a>Invitations</a></li>
        <li><a>Cloud Storage Environment Settings</a></li>
        <li><a>Authentication</a></li>
      </ul>
      <p class="menu-label">
        Transactions
      </p>
      <ul class="menu-list">
        <li><a>Payments</a></li>
        <li><a>Transfers</a></li>
        <li><a>Balance</a></li>
      </ul>
    </VuePerfectScrollbar>
  </aside>
</template>

<script>
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default {
  components: {
    VuePerfectScrollbar
  },
  name: 'Navbar',
  data () {
    return {
      settings: {
        wheelSpeed: 1,
        wheelPropagation: true,
        minScrollbarLength: 20
      }
    }
  },
  methods: {
    scrollHanle (evt) {
    }
  }
}
</script>

<style scoped>
  .scroll-area {
    position: relative;
    margin: auto;
    width: 400px;
    height: 300px;
  }
</style>
