html{
  overflow-y: auto;
}
body{
}
.main-container{
  width: 100%;
  height: 100vh;
}
.navbar.is-fixed-top {
  height: 80px;
  width: 1140px;
  margin: 0 auto;
}
.container-custom{
  width: 1140px;
  margin: 0 auto;
}
.menu{
  float: left;
  width: 20%;
  height: 100%;
}
.right-side{
  float: left;
  width: 80%;
  height: 100%;
}
.navbar-title{
  position: relative;
  height: 20%;
}
.navbar-tools{
  overflow: auto;
  height: 80%;
  padding: 20px 0;
}
.navbar-background{
  opacity: 0.1;
  height: 100%;
  width: 100%;
  background: url("../uploads/cover.jpeg") no-repeat center;
  background-size: cover;
}
.profile-avatar{
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 1;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid #3573dc;
  overflow: hidden;
  margin: 0 auto;
}
.navbar-item img{
  max-height: 100%;
  height: 45px;
  width: 60px;
}
.button{
  width: 100%;
}
.main-image{
  max-width: 150px;
  max-height: 150px;
}
.submenu-list a{
  font-size: 12px;
}
.menu-label{
  border-bottom: 2px solid #3573dc;
  margin: 15px 25px;
  padding-bottom: 5px;
}
.menu-list a:hover{
  color: #3273dc;
}
.menu-list a.is-active:hover{
  color: #fff;
}
.custom-container{
  height: calc(100vh - 61px);
}
.columns, .columns:last-child{
  padding: 45px 0 45px 0;
  margin: 0;
}
.bd-notification{
  border-radius: 20px;
  width: 150px;
  height: 80px;
  margin: auto;
  line-height: 50px;
  padding: 15px;
}
.is-pink{
  background: linear-gradient(to right, rgb(218, 34, 255), rgb(151, 51, 238));
}
.is-green{
  background: linear-gradient(to right, rgb(2, 170, 176), rgb(0, 205, 172));
}
.is-orange{
  background: linear-gradient(to right, rgb(230, 92, 0), rgb(249, 212, 35));
}
.is-moon{
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}
.dash-content{
  margin-top: -50px;

}

