<template>
  <div id="main" class="main-container">
    <navbar></navbar>
    <dashboard></dashboard>
  </div>
</template>

<script>
import Navbar from './main/Navbar'
import Dashboard from './main/Dashboard'

export default {
  name: 'Home',
  components: {
    Dashboard,
    Navbar
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
