<template>
  <div class="main-container">
    <login-section></login-section>
  </div>
</template>

<script>
import LoginSection from './LoginPageComponents/LoginSection'

export default {
  components: {
    LoginSection
  },
  name: 'Login'
}
</script>

<style scoped>

</style>
